<!-- Hero Section -->
<section
  class="relative bg-cover bg-center text-white py-24"
  style="
    background-image: url('assets/tour/hero-cover.jpg');
    filter: brightness(0.7);
  "
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-60 z-0"></div>

  <!-- Text Content -->
  <div class="text-center relative z-10">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">
      Explore Your Next Adventure
    </h1>
    <p class="text-lg md:text-xl text-white">
      Curated tour packages tailored for your dream destinations
    </p>
  </div>
</section>

<!-- Search Section -->
<section class="bg-gray-100 py-6">
  <div
    class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-center gap-8"
  >
    <!-- Search by Location -->
    <div class="w-full md:w-1/4 relative dropdown-container">
      <!-- Dropdown Button -->
      <button
        class="w-full p-3 border border-gray-300 rounded-lg bg-white focus:outline-none focus:ring-2 focus:ring-teal-500 text-left relative"
        (click)="toggleDropdown()"
      >
        {{ selectedLocationsString }}
        <!-- Dropdown Arrow -->
        <span
          class="absolute inset-y-0 right-3 flex items-center pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="black"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </span>
      </button>

      <!-- Dropdown Options -->
      <div
        class="absolute left-0 w-full mt-2 bg-white border border-gray-300 rounded-lg max-h-48 overflow-y-auto z-10"
        *ngIf="dropdownOpen"
      >
        <ul>
          <li
            *ngFor="let location of locations"
            class="px-4 py-2 flex items-center cursor-pointer hover:bg-gray-100"
            (click)="toggleSelection(location.Location)"
          >
            <input
              type="checkbox"
              [checked]="isSelected(location.Location)"
              class="w-4 h-4 mr-2"
            />
            <span>{{ location.Location }}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Search by Agencies -->
    <div class="w-full md:w-1/4">
      <select
        [(ngModel)]="selectedAgency"
        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-500"
      >
        <option value="">Select an agency</option>
        <option *ngFor="let agency of agencies" [value]="agency.AgencyId">
          {{ agency.AgencyName }}
        </option>
      </select>
    </div>

    <div class="w-full md:w-1/4">
      <select
        [(ngModel)]="selectedTourType"
        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-500"
      >
        <option value="">Select theme</option>
        <option *ngFor="let type of tourTypes" [value]="type.TypeId">
          {{ type.Type }}
        </option>
      </select>
    </div>

    <!-- Clear the search filters -->
    <div class="w-full md:w-1/4 text-center mt-4 md:mt-0">
      <button
        (click)="clearSelection()"
        class="w-full p-3 border border-teal-500 rounded-lg text-teal-500 hover:text-teal-700 hover:bg-teal-100 focus:outline-none focus:ring-2 focus:ring-teal-500 transition-all duration-300"
      >
        Reset filter
      </button>
    </div>
  </div>
</section>

<!-- Loading -->
<div *ngIf="loading" class="flex justify-center items-center py-6">
  <!-- Spinner Without Shadow -->
  <div class="inline-block rounded-full text-teal-600" role="status">
    <!-- Buffer Icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="w-8 h-8 text-teal-600 animate-spin"
    >
      <circle
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
        class="opacity-25"
      ></circle>
      <path
        fill="currentColor"
        d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
        class="opacity-75"
      ></path>
    </svg>
  </div>
</div>

<!-- Tour packages -->
<div *ngIf="!loading" id="tour-packages" class="container mx-auto p-4">
  <h1 class="text-4xl font-bold text-center mb-6 text-gray-800">
    <em>Tour Packages</em>
  </h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Display tour packages -->
    <div *ngIf="paginatedTours.length <= 0">No tour packages found !!</div>
    <div
      *ngFor="let tour of paginatedTours"
      class="bg-yellow-50 shadow-md rounded-lg overflow-hidden"
    >
      <img
        [src]="tour.Images[0]"
        alt="{{ tour.Name }}"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h2 class="text-lg font-semibold text-gray-700">
          <strong>{{ tour.Name }}</strong>
        </h2>
        <p class="text-gray-600 description">{{ tour.Description }}</p>
        <p class="text-teal-500">
          <strong>{{ tour.Location }}</strong>
        </p>
        <p class="text-gray-800 font-bold mt-2">₹ {{ tour.Price }}</p>
        <button
          [routerLink]="['/tours/package', tour.TourId]"
          class="bg-teal-600 text-white py-2 px-4 rounded-lg hover:bg-teal-700 transition duration-200 mt-4"
        >
          View details
        </button>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="flex flex-wrap justify-center items-center space-x-2 mt-6">
    <!-- Previous Button -->
    <button
      (click)="navigateToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-3 rounded disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Previous
    </button>

    <!-- Page Numbers -->
    <ng-container
      *ngFor="let page of [].constructor(totalPages); let i = index"
    >
      <button
        (click)="navigateToPage(i + 1)"
        [class.bg-teal-600]="currentPage === i + 1"
        [class.text-white]="currentPage === i + 1"
        class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-3 rounded"
      >
        {{ i + 1 }}
      </button>
    </ng-container>

    <!-- Next Button -->
    <button
      (click)="navigateToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-3 rounded disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Next
    </button>
  </div>
</div>

<!-- Floating Action Button -->
<div class="fixed bottom-5 right-5 z-50 flex flex-col items-center">
  <!-- FAB Menu -->
  <ul
    class="flex-col-reverse items-center space-y-reverse space-y-4 mb-4 transition-all duration-300"
    [ngClass]="{
      'opacity-0 translate-y-10 pointer-events-none': !isFabMenuOpen,
      'opacity-100 translate-y-0': isFabMenuOpen
    }"
  >
    <li class="mb-3">
      <a
        href="/tours/my-bookings"
        class="w-12 h-12 bg-white text-teal-600 rounded-full shadow-md flex justify-center items-center border border-teal-600 hover:bg-teal-600 hover:text-white transition-colors"
        title="My Bookings"
      >
        ℹ️
      </a>
    </li>
  </ul>

  <!-- Floating Action Button -->
  <button
    class="w-16 h-16 bg-teal-600 text-white rounded-full shadow-lg flex justify-center items-center text-3xl hover:scale-110 transition-transform"
    (click)="toggleFabMenu()"
  >
    +
  </button>
</div>

<!-- Footer -->
<footer class="bg-gray-800 text-gray-200 py-8">
  <div class="max-w-6xl mx-auto text-center">
    <p class="text-lg">
      &copy; 2024 Tour Package Booking. All rights reserved.
    </p>
    <p class="mt-4">Follow us on social media</p>
    <div class="mt-4 flex justify-center space-x-6">
      <a href="#" class="text-teal-400 hover:text-teal-600">Facebook</a>
      <a href="#" class="text-teal-400 hover:text-teal-600">Twitter</a>
      <a href="#" class="text-teal-400 hover:text-teal-600">Instagram</a>
    </div>
  </div>
</footer>
